#div_readingmaterial{
    margin-top: 30px;
}

.p_number{
    font-size: 30px;
    font-weight: 600px;
}

#div_readingmaterialdetails{
    border:solid 1px #95989A;
    margin-left:-15px;
    padding:10px;
    background-color:rgba(255,255,255,0.5);
}

#title{
    font-weight: 800;
}

#available{
    color:#297B3C;
    font-weight: 800;
    font-style: italic;
}

#reserved{
    color:#F20707;
    font-weight: 800;
    font-style: italic;
}

#button_add{
    float:right;
    width: 150px;
    margin-bottom: 10px;
    margin-right:25px;
}


.col_1, .col_11{
    margin-top:-10px;
}

.indent{
    margin-left:15px;
}

.icon{
    margin-top: 10px;
    margin-right:10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#button_reserve, #button_review{
    float:right;
    width: 150px;
}

#button_edit, #button_delete{
    float:right;
    width: 150px;
}
