body{
    background-image: url("../img/bg_login.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

/* Forgot Password & Sign Up */
a{ 
    font-size: 12px;
}

.main-login{
 	background-color: #E5E5E5;
    background: rgb(229, 229, 229); /* Fallback for older browsers without RGBA-support */
    background: rgba(229, 229, 229, 0.62);
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center{
 	margin: 0 auto;
 	max-width: 600px;
    max-height: 415px;
    padding: 30px 30px;
    
    /* to center vertically */
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    overflow:auto;
}

#ic_dlsu{
    display: block;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: auto;
}

#form_login{
    margin-top: 20px;
    margin-left: 30px;
}

#input_username, #input_password{
    width: 250px;
    height: 30px;
}

#btn_login{
    margin-top: -5px;
    margin-left: -15px;
}

.btn-primary{
    width:250px;
}

#div_forgotpass_signup{
    margin-left: 60px;
    margin-top: 5px;
}




