.div_info{
    margin-top:10px;
}

.div_label{
    text-align: left;
}

.panel_account{
    margin-top:30px;
}

.panel-heading{
    background-color:#B2CFBB !important;
    text-align:center;
    font-weight: 700;
}

.panel-default{
    background-color:rgba(255, 255, 255, 0.5);
}

.panel-body{
    height: 35.56px;
    
}

.p_duedate{
    color:#F20707;
}

.tr_empty{
    height: 35.56px;
}

#button_editprofile{
    width:150px;
    float:right;
}
