#div_readingmaterialdetails{
    margin-left:50px;
    padding:10px;
}

#title{
    font-weight: 800;
    font-size: 14px;
}

#available{
    color:#297B3C;
    font-weight: 800;
    font-style: italic;
}

#reserved{
    color:#F20707;
    font-weight: 800;
    font-style: italic;
}


.col_1, .col_11{
    margin-top:-10px;
}

.indent{
    margin-left:15px;
}

#button_reserve, #button_review, #button_submitreview{
    float:right;
    width: 150px;
}

fieldset.fieldset_reviews {
    border: groove !important;
    border-color: rgba(149, 152, 154, 0.40) !important;
    border-style: solid !important;
    border-width: 1px !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
    font-size: 14px;
    
    background: rgba(255, 255, 255, 0.40);
    /* to center elements inside*/
    margin:auto; !important
    width: 1000px; !important;
}

legend.fieldset_reviews {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: 14spx;
    text-align: left;
}

.div_reviews{
    margin-top:30px;
}

#label_reviewer{
    font-weight: 700;
}

#label_reviewdate{
    font-style: italic;
    font-size: 12px;
    float: right;
}